extends ../layouts/default-socket

block main
	.row
		.span6
			h1 Welcome
			div
				b ROOMS
				#rooms
		.span6
			.countdown
				p
	hr
	.row
		.span6
			//- player 1 stuff here
			div#player1
				h1 player 1
				.meter
					span(id="player1span", style="width:100%")
				#usernamePlayer1
				#room1

		.span6
			//- player 2 stuff here
			div#player2
				h1 player 2
				.meter
					span(id="player2span", style="width:100%")
				#usernamePlayer2
					h1 waiting for player
				#room2
	hr
	.row
		.span8
			div
				h1 global log
				#globalConversation
		.span4
			div
				h1 connected users
				ul#connectedUsers


