extends ../layouts/default

block main
  h1 Articles

block content
  each stream in streams
    .stream
      br
      h1 the winner was:
      h3 #{stream.winner.name}
      br
      h1 the loser was:
      h3 #{stream.looser.name}
      br
      h1 at:
      h3 #{stream.time}
      hr